<%# display the cards %>
<div class="details">
  <img src="https://source.unsplash.com/random" />
  <div class="info">
    <div>
      <h2><%= @flat.name %></h2>
      <p><%= @flat.description %></p>
    </div>
    <div class="flex">
      <h2 class="details-card-pricing"><i class="material-icons mr-2">people</i><span><span><%= @flat.price_per_night %></span></h2>
      <h2 class="details-card-pricing"><i class="material-icons mr-2">euro_symbol</i><span><%= @flat.number_of_guests %></span></h2>
    </div>
  </div>
</div>

